{% extends 'base.html' %}

{% block content %}
    <div class="col-md-8">
        <h2>Today's Appointments <span class="today"> ({{ today }})</span></h2>
        <table class="table table-hover">
            <tr>
                <th>Patient</th>
                <th>Scheduled time</th>
                <th>Checkin time</th>
                <th>Reason</th>
                <th>Status</th>
                <th>Wait Time</th>
            </tr>
            {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.patient }}</td>
                    <td>{{ appointment.scheduled_time }}</td>
                    <td>{{ appointment.arrival_time }}</td>
                    <td>{{ appointment.reason }}</td>
                    <td>
                        <!-- form setup to update status -->
                        <form method="post" action="">
                            {% csrf_token %}
                            {{ form }}
                            <br>
                            </form>

                    </td>

                    </td>
                    <td>
                        {% if appointment.status == 'Arrived' %}
                            {{ appointment.arrival_time | timesince: now }} mins
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
