{% extends 'base.html' %}

{% block content %}
    <div class="col-md-8">
        <h2>Today's Appointments</h2>
        <table class="table table-hover">
            <tr>
                <th>Appointment ID</th>
                <th>Scheduled time</th>
                <th></th>
            </tr>
            {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.id }}</td>
                    <td>{{ appointment.scheduled_time }}</td>
                    <td>{{ appointment.status }}
                        <!-- form setup to update status 
                        <form method="post" action="/">
                            {% csrf_token %}
                            {{ form }}
                            <br>
                            </form>
                        -->
                    </td>

                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
