{% extends 'base.html' %}

{% block rightnav %}

    <li><a href="/doctor_kiosk/"><span class="glyphicon glyphicon-log-in"></span> Doctor's Kiosk</a></li>

{% endblock %}

{% block content %}
    <div class="col-md-8">
        <h2>Today's Appointments</h2>
        <table class="table table-hover">
            <tr>
                <th>Appointment ID</th>
                <th>Scheduled time</th>
                <th></th>
            </tr>
            {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.id }}</td>
                    <td>{{ appointment.scheduled_time }}</td>
                    <td><a href="/validate_patient/{{ appointment.id }}/" class="btn btn-default"> Check In </a>
                        <!--
                        <form method="post" action="/validate_patient">
                            {% csrf_token %}
                            {{ checkin_form }}
                            <input type="submit" value="Check In">
                            </form>
                        -->
                    </td>

                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
