{% extends 'base.html' %}

{% block rightnav %}

    <li><a href="/validate_doctor/"><span class="glyphicon glyphicon-log-in"></span> Doctor's Kiosk</a></li>

{% endblock %}

{% block content %}
    <div class="col-md-8">
        <h2>Today's Appointments</h2>
        <table class="table table-hover">
            <tr>
                <th>Appointment ID</th>
                <th>Scheduled time</th>
                <th></th>
            </tr>
            {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.id }}</td>
                    <td>{{ appointment.scheduled_time }}</td>
                    <td>
                        <a href="/validate_patient/{{ appointment.id }}/" class="btn btn-default {% if appointment.status == 'Arrived' %} disabled {% endif %}"> {% if appointment.status == 'Arrived' %} Checked In {% else %} Check In {% endif %} </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}
